---
import Layout from "../../layouts/Layout.astro";
import { SignUp } from "astro-clerk-auth/components/interactive";
---

<Layout title="Sign up | Pantelis">
  <div class="flex w-full h-full min-h-screen justify-center items-center p-5">
    <SignUp path='/sign-up' />
  </div>
</Layout>
