src
!src/astro-clerk-auth/dist
!src/astro-clerk-auth/client
!src/astro-clerk-auth/integration
!src/astro-clerk-auth/internal
!src/astro-clerk-auth/server
!src/astro-clerk-auth/stores
!src/astro-clerk-auth/v0
!src/astro-clerk-auth/client.d.ts
!src/astro-clerk-auth/env.d.ts
!src/astro-clerk-auth/package.json
.changeset
.github
.idea
.turbo
.vscode
apps
package-lock.json
.eslintrc.js