---
import { SignIn } from "astro-clerk-auth/components/interactive";
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div class="w-full flex justify-center">
    <SignIn path="/sign-in" />
  </div>
</Layout>
