---
import { signUpUrl } from "astro-clerk-auth";
import Layout from "../../layouts/Layout.astro";
import ClerkLayout from "../../layouts/ClerkLayout.astro";
import { SignIn } from "astro-clerk-auth/client/react";
---

<Layout title="Welcome to Astro.">
  <ClerkLayout>
    <div class="w-full flex justify-center">
      <SignIn
        client:load
        signUpUrl={signUpUrl}
        client:load
        path="/sign-in"
        routing="path"
      />
    </div>
  </ClerkLayout>
</Layout>
