---
import Layout from "../layouts/Layout.astro";
import {
  ClerkLayout,
  OrganizationList,
} from "astro-clerk-auth/astro-components";
---

<Layout title="Welcome to Astro.">
  <ClerkLayout protectedPage={true}>
    <div class="w-full flex justify-center">
      <OrganizationList
        afterSelectOrganizationUrl="/organization"
        afterCreateOrganizationUrl="/organization"
        afterSelectPersonalUrl="/user"
      />
    </div>
  </ClerkLayout>
</Layout>
