---
import { OrganizationList } from "astro-clerk-auth/components/react";
import { ClerkLayout } from "astro-clerk-auth/components/control";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <ClerkLayout protectedPage={true}>
    <div class="w-full flex justify-center">
      <OrganizationList
        afterSelectOrganizationUrl="/organization"
        afterCreateOrganizationUrl="/organization"
        afterSelectPersonalUrl="/user"
      />
    </div>
  </ClerkLayout>
</Layout>
