---
import { ClerkLayout } from "astro-clerk-auth/components/control";
import {
  OrganizationSwitcher,
  OrganizationProfile,
} from "astro-clerk-auth/components/react";
import Layout from "../layouts/Layout.astro";
import Streaming from "../layouts/Streaming.astro";
---

<Layout title="Welcome to Astro.">
  <ClerkLayout protectedPage={true}>
    <Streaming />
    <div class="w-full flex justify-center flex-col">
      <OrganizationSwitcher
        appearance={{
          elements: {
            organizationSwitcherTrigger: "text-white",
          },
        }}
      />
      <OrganizationProfile />
    </div>
  </ClerkLayout>
</Layout>
