---
import {
  OrganizationProfile,
  OrganizationSwitcher,
} from "astro-clerk-auth/client/react";
import Layout from "../layouts/Layout.astro";
import { ClerkLayout } from "astro-clerk-auth/astro-components";
import UserJSON from "../components/UserJSON.astro";
---

<Layout title="Welcome to Astro.">
  <ClerkLayout protectedPage={true}>
    <div class="w-full flex justify-center flex-col">
      <OrganizationSwitcher
        client:load
        appearance={{
          elements: {
            organizationSwitcherTrigger: "text-white",
          },
        }}
      />
      <OrganizationProfile client:load />
    </div>
    <UserJSON />
  </ClerkLayout>
</Layout>
