---

---

<div id="sign-in"></div>

<script>
  /**
   * Turns out that this script run even if a UI component above prevents it from rendering
   */
  import { mountClerkComponent } from "../mountClerkComponent";
  import { $state } from "astro-clerk-auth/stores";

  console.log("-------- CLIENT SIGNIN");

  $state.listen(() => {
    console.log("-------- CLIENT TRIGGER", document.getElementById("sign-in"));
    mountClerkComponent({
      el: document.getElementById("sign-in") as HTMLDivElement,
      mountFn: "mountSignIn",
    });
  });
</script>
