---

---

<div id="sign-in"></div>

<script>
  import { mountClerkComponent } from "../mountClerkComponent";

  mountClerkComponent({
    el: document.getElementById("sign-in") as HTMLDivElement,
    mountFn: "mountSignIn",
  });
</script>
