---
interface Props {
  protectedPage?: boolean;
}

const { protectedPage = false } = Astro.props;

import { $ssrState } from "../lib/clerkJSInstance";
import { getAuth } from "../lib/getAuth";

let _ssrState
if (protectedPage) {
  const ssrStateNonSerializable = getAuth(Astro.request, Astro.locals);

  const { experimental__has, getToken, ...ssrState } = ssrStateNonSerializable;
  $ssrState.set(ssrState);
  _ssrState=ssrState
}
---
<div style="height:0;visibility:hidden;width:0;overflow:hidden;" id="ssr_data">{JSON.stringify(_ssrState)}</div>
<slot />
<script>
  import { $ssrState } from "../lib/clerkJSInstance";
  import { createClerkInstance } from "../lib/clerkJSInstance";

  createClerkInstance();
  $ssrState.set(JSON.parse(document.getElementById('ssr_data')!.textContent || '{}'));
</script>
