<header class="flex w-full p-4 justify-center">
  <div id="clerk-sign-in" class="__clerk_component"></div>
  <div id="_clerk_button_container"></div>
</header>

<script>
  import { clerkJSInstance } from "../clerk/js/clerkJSInstance.js";

  let hasMountedSignIn = false;
  let hasMountedSignOut = false;

  const styles =
    "py-3 px-4 py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm";

  await clerkJSInstance.load();

  clerkJSInstance.addListener(({ user }) => {
    if (user) {
      if (!hasMountedSignOut) {
        createSignOutButton();
        deleteSignInButton();
      }
    } else {
      if (!hasMountedSignIn) {
        createSignInButton();
        deleteSignOutButton();
      }
    }
  });

  function createSignOutButton() {
    const signOutButton = document.createElement("button");
    signOutButton.id = "clerk-sign-out-btn";
    signOutButton.textContent = "Sign Out";
    signOutButton.className = styles;

    signOutButton.addEventListener("click", async () => {
      await clerkJSInstance.signOut();
      window.location.reload();
    });

    document
      .getElementById("_clerk_button_container")
      ?.appendChild(signOutButton);

    hasMountedSignOut = true;
  }

  function createSignInButton() {
    const signInButton = document.createElement("a");
    signInButton.id = "clerk-sign-in-btn";
    signInButton.textContent = "Sign in";
    signInButton.href = "/sign-in";
    signInButton.className = styles;
    document
      .getElementById("_clerk_button_container")
      ?.appendChild(signInButton);

    hasMountedSignIn = true;
  }

  function deleteSignOutButton() {
    document.getElementById("clerk-sign-out-btn")?.remove();
  }

  function deleteSignInButton() {
    document.getElementById("clerk-sign-in-btn")?.remove();
  }
</script>
